<nav class="border-b border-gray-200 bg-white">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg: flex justify-between items-center h-16">
    <a routerLink="/" class="flex items-center space-x-3">
      <img src="assets/Capture_d_écran_2025-03-11_110938-removebg-preview (1).png" alt="Logo" class="h-12 w-auto">
      <span class="text-2xl font-bold text-[#52AFC9]">Rate Me !</span>
    </a>

    <button 
      (click)="toggleMenu()" 
      class="md:hidden p-2 rounded-md text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>

    <div class="hidden md:flex space-x-10 items-center">
      <a routerLink="" class="nav-link relative block py-2 px-3 text-[#414a51] hover:text-[#52AFC9] transition duration-300 after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-[#52AFC9] after:scale-x-0 after:origin-center hover:after:scale-x-100 after:transition-transform after:duration-300">Home</a>
      <a routerLink="places" class="nav-link relative block py-2 px-3 text-[#414a51] hover:text-[#52AFC9] transition duration-300 after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-[#52AFC9] after:scale-x-0 after:origin-center hover:after:scale-x-100 after:transition-transform after:duration-300">Places</a>
      <a routerLink="contact" class="nav-link relative block py-2 px-3 text-[#414a51] hover:text-[#52AFC9] transition duration-300 after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-[#52AFC9] after:scale-x-0 after:origin-center hover:after:scale-x-100 after:transition-transform after:duration-300">Contact us</a>

      <ng-container *ngIf="isLoggedIn">
        <a routerLink="/profile" class="nav-link relative block py-2 px-3 text-[#414a51] hover:text-[#52AFC9] transition duration-300 after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-[#52AFC9] after:scale-x-0 after:origin-center hover:after:scale-x-100 after:transition-transform after:duration-300">Profile</a>
        <a *ngIf="userRole === 'ADMIN'" routerLink="/dashboard" class="nav-link relative block py-2 px-3 text-[#414a51] hover:text-[#52AFC9] transition duration-300 after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-[#52AFC9] after:scale-x-0 after:origin-center hover:after:scale-x-100 after:transition-transform after:duration-300">Dashboard</a>
      </ng-container>

      <ng-container *ngIf="!isLoggedIn">
        <div class="">

        
        <a routerLink="/login" class=" mx-4 px-4 py-2 border-2 border-orange-400 rounded-lg text-[#414a51] hover:bg-orange-100 transition">Login</a>
        <a routerLink="/register" class="px-4 py-2 bg-orange-400 text-white rounded-lg hover:bg-orange-500 transition">Sign Up</a>
      </div>
      </ng-container>

      <button *ngIf="isLoggedIn"  class="px-4 py-2 bg-orange-400 text-white rounded-lg hover:bg-orange-500 transition">Logout</button>
    </div>
  </div>


<div *ngIf="isMenuOpen" class="md:hidden bg-white border-t border-gray-200">
  
  <div class="flex flex-col items-center justify-center py-6 space-y-2">
    <img src="assets/Capture_d_écran_2025-03-11_110938-removebg-preview (1).png" alt="Logo" class="h-16 w-auto">
    <span class="text-3xl font-extrabold text-[#52AFC9]">Rate Me !</span>
  </div>

  <div class="flex flex-col space-y-4 px-8 pb-6 text-center">
    <a routerLink="/" class="text-lg text-gray-600 hover:text-[#52AFC9] transition">Home</a>
    <a routerLink="/places" class="text-lg text-gray-600 hover:text-[#52AFC9] transition">Places</a>
    <a routerLink="/contact" class="text-lg text-gray-600 hover:text-[#52AFC9] transition">Contact us</a>

    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/profile" class="text-lg text-gray-600 hover:text-[#52AFC9] transition">Profile</a>
      <a *ngIf="userRole === 'ADMIN'" routerLink="/dashboard" class="text-lg text-gray-600 hover:text-[#52AFC9] transition">Dashboard</a>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login"
         class="w-full py-2 border-2 border-orange-400 text-orange-400 rounded-lg hover:bg-orange-50 transition font-semibold">
        Login
      </a>
      <a routerLink="/register"
         class="w-full py-2 bg-orange-400 text-white rounded-lg hover:bg-orange-500 transition font-semibold">
        Sign Up
      </a>
    </ng-container>

    <button *ngIf="isLoggedIn"
            
            class="w-full py-2 bg-orange-400 text-white rounded-lg hover:bg-orange-500 transition font-semibold">
      Logout
    </button>
  </div>
</div>

</nav>

